# 最上層 EditorConfig 設定檔
root = true

# 通用設定
[*]
charset = utf-8
indent_style = space    # 使用空白縮排
indent_size = 2         # 每層縮排 2 個空白
end_of_line = lf        # 統一 LF 換行符號
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown 通常允許尾端空白 (避免刪掉斷行空格)
[*.md]
trim_trailing_whitespace = false
