<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>日誌</title>
  </head>
  <body>
    <%- include('layout/header', { title: '日誌' , beforeLink: './index.html' ,
    nextLink: null}) -%>

    <main>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="py-6">
              <!-- 最近紀錄 -->
              <section class="p-4 bg-neutral-900 rounded-xs mb-4">
                <h2 class="fs-lh-5 fw-bold mb-3">最近紀錄</h2>
                <!-- lately tab list -->
                <ul
                  class="p-0 mb-3 d-flex flex-wrap justify-content-between record-lately-list"
                  id="latelyRecordTab"
                  role="tablist"
                >
                  <li class="record-lately-list-item" role="presentation">
                    <button
                      class="btn w-100 rounded-xs record-lately-tab active"
                      id="lately-one-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#lately-one"
                      type="button"
                      role="tab"
                      aria-controls="lately-one"
                      aria-selected="true"
                    >
                      <p class="fs-lh-8 fw-bold">21</p>
                      <p class="fs-lh-9">一</p>
                    </button>
                  </li>
                  <li class="record-lately-list-item" role="presentation">
                    <button
                      class="btn w-100 rounded-xs record-lately-tab"
                      id="lately-two-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#lately-two"
                      type="button"
                      role="tab"
                      aria-controls="lately-two"
                      aria-selected="false"
                    >
                      <p class="fs-lh-8 fw-bold">22</p>
                      <p class="fs-lh-9">二</p>
                    </button>
                  </li>
                  <li class="record-lately-list-item" role="presentation">
                    <button
                      class="btn w-100 rounded-xs record-lately-tab"
                      id="lately-three-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#lately-three"
                      type="button"
                      role="tab"
                      aria-controls="lately-three"
                      aria-selected="false"
                    >
                      <p class="fs-lh-8 fw-bold">23</p>
                      <p class="fs-lh-9">三</p>
                    </button>
                  </li>
                  <li class="record-lately-list-item" role="presentation">
                    <button
                      class="btn w-100 rounded-xs record-lately-tab"
                      id="lately-four-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#lately-four"
                      type="button"
                      role="tab"
                      aria-controls="lately-four"
                      aria-selected="false"
                    >
                      <p class="fs-lh-8 fw-bold">24</p>
                      <p class="fs-lh-9">四</p>
                    </button>
                  </li>
                  <li class="record-lately-list-item" role="presentation">
                    <button
                      class="btn w-100 rounded-xs record-lately-tab"
                      id="lately-five-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#lately-five"
                      type="button"
                      role="tab"
                      aria-controls="lately-five"
                      aria-selected="false"
                    >
                      <p class="fs-lh-8 fw-bold">25</p>
                      <p class="fs-lh-9">五</p>
                    </button>
                  </li>
                  <li class="record-lately-list-item" role="presentation">
                    <button
                      class="btn w-100 rounded-xs record-lately-tab"
                      id="lately-six-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#lately-six"
                      type="button"
                      role="tab"
                      aria-controls="lately-six"
                      aria-selected="false"
                    >
                      <p class="fs-lh-8 fw-bold">26</p>
                      <p class="fs-lh-9">六</p>
                    </button>
                  </li>
                  <li class="record-lately-list-item" role="presentation">
                    <button
                      class="btn w-100 rounded-xs record-lately-tab"
                      id="lately-seven-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#lately-seven"
                      type="button"
                      role="tab"
                      aria-controls="lately-seven"
                      aria-selected="false"
                    >
                      <p class="fs-lh-8 fw-bold">27</p>
                      <p class="fs-lh-9">日</p>
                    </button>
                  </li>
                </ul>
                <!-- lately content -->
                <div class="tab-content" id="latelyRecordTabContent">
                  <div
                    class="tab-pane show active"
                    id="lately-one"
                    role="tabpanel"
                    aria-labelledby="lately-one-tab"
                  >
                    <%- include('components/record/lately-content', {data:
                    {travelTime: '7.4', departureAt: '11:00', arrivalAt:
                    '06:24'}}) -%>
                  </div>
                  <div
                    class="tab-pane"
                    id="lately-two"
                    role="tabpanel"
                    aria-labelledby="lately-two-tab"
                  >
                    <%- include('components/record/lately-content', {data:
                    {travelTime: '8.0', departureAt: '11:20', arrivalAt:
                    '07:20'}}) -%>
                  </div>
                  <div
                    class="tab-pane"
                    id="lately-three"
                    role="tabpanel"
                    aria-labelledby="lately-three-tab"
                  >
                    <%- include('components/record/lately-content', {data:
                    {travelTime: '7.0', departureAt: '10:00', arrivalAt:
                    '05:00'}}) -%>
                  </div>
                  <div
                    class="tab-pane"
                    id="lately-four"
                    role="tabpanel"
                    aria-labelledby="lately-four-tab"
                  >
                    <%- include('components/record/lately-content', {data:
                    {travelTime: '6.0', departureAt: '10:20', arrivalAt:
                    '04:20'}}) -%>
                  </div>
                  <div
                    class="tab-pane"
                    id="lately-five"
                    role="tabpanel"
                    aria-labelledby="lately-five-tab"
                  >
                    <%- include('components/record/lately-content', {data:
                    {travelTime: '7.0', departureAt: '11:20', arrivalAt:
                    '06:20'}}) -%>
                  </div>
                  <div
                    class="tab-pane"
                    id="lately-six"
                    role="tabpanel"
                    aria-labelledby="lately-six-tab"
                  >
                    <%- include('components/record/lately-content', {data:
                    {travelTime: '8.5', departureAt: '10:20', arrivalAt:
                    '06:50'}}) -%>
                  </div>
                  <div
                    class="tab-pane"
                    id="lately-seven"
                    role="tabpanel"
                    aria-labelledby="lately-seven-tab"
                  >
                    <%- include('components/record/lately-content', {data:
                    {travelTime: '7.5', departureAt: '11:20', arrivalAt:
                    '06:50'}}) -%>
                  </div>
                </div>
              </section>
              <!-- 累積成就 -->
              <section class="p-4 bg-neutral-900 rounded-xs mb-4">
                <h2 class="fs-lh-5 fw-bold mb-3">累積成就</h2>
              </section>
              <!-- 旅行指南 -->
              <section class="p-4 bg-neutral-900 rounded-xs mb-4">
                <h2 class="fs-lh-5 fw-bold mb-3">旅行指南</h2>
              </section>
              <!-- 圖表切換按鈕群組 -->
              <div class="mb-4">圖表切換按鈕群組</div>
              <!-- 圖表列表 -->
              <section class="px-4 py-2 bg-neutral-900 rounded-xs mb-4">
                <div class="mb-1" style="height: 44px">時間切換 slider</div>
                <!-- 旅行時長 -->
                <div class="border-bottom border-neutral-600 mb-6">
                  <h2 class="fs-lh-5 fw-bold mb-2">旅行時長</h2>
                  <div class="d-flex align-items-center mb-1">
                    <span class="fs-lh-6 fw-bold me-1">6.75</span>
                    <span class="fs-lh-8 me-1">小時／天</span>
                    <button
                      class="btn p-0 border-0 d-flex"
                      data-bs-toggle="tooltip"
                      data-bs-placement="right"
                      data-bs-custom-class="custom-tooltip"
                      data-bs-title="說明"
                      data-bs-trigger="focus"
                      aria-label="focus to see info tooltip"
                    >
                      <img
                        class="icon-16"
                        src="../assets/images/icons/question.svg"
                        alt="tooltip icon"
                      />
                    </button>
                  </div>
                  <div class="d-flex align-items-center mb-1">
                    <span class="fs-lh-8 me-2">和上週相比</span>
                    <span class="text-primary-300 fs-lh-8 fw-bold"
                      >0.45 小時</span
                    >
                    <div class="d-flex">
                      <svg
                        class="icon-20 text-primary-300"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M13.0001 19C13.0001 19.5523 12.5524 20 12.0001 20C11.4478 20 11.0001 19.5523 11.0001 19L11.0001 5C11.0001 4.44772 11.4478 4 12.0001 4C12.5524 4 13.0001 4.44772 13.0001 5L13.0001 19Z"
                          fill="currentColor"
                        />
                        <path
                          d="M19.7071 11.293C20.0976 11.6835 20.0976 12.3165 19.7071 12.707C19.3166 13.0976 18.6836 13.0976 18.293 12.707L11.293 5.70703C10.9025 5.31651 10.9025 4.68349 11.293 4.29297C11.6836 3.90244 12.3166 3.90244 12.7071 4.29297L19.7071 11.293Z"
                          fill="currentColor"
                        />
                        <path
                          d="M12.7071 5.70703C13.0976 5.31651 13.0976 4.68349 12.7071 4.29297C12.3166 3.90244 11.6836 3.90244 11.293 4.29297L4.29304 11.293C3.90252 11.6835 3.90252 12.3165 4.29304 12.707C4.68357 13.0976 5.31658 13.0976 5.70711 12.707L12.7071 5.70703Z"
                          fill="currentColor"
                        />
                      </svg>
                    </div>
                  </div>
                  <div class="d-flex align-items-center mb-3">
                    <span class="fs-lh-8 me-2">總時長</span>
                    <span class="fs-lh-8 fw-bold">41.3 小時</span>
                  </div>
                  <!-- chart_1 -->
                  <div class="mb-6 chart-height">
                    <canvas id="chart_1"></canvas>
                  </div>
                </div>

                <!-- 啟程時間 -->
                <div class="border-bottom border-neutral-600 mb-6">
                  <h2 class="fs-lh-5 fw-bold mb-2">啟程時間</h2>
                  <div class="d-flex align-items-center mb-1">
                    <span class="fs-lh-8 me-2">目標達成</span>
                    <span class="fs-lh-8 fw-bold">2 天</span>
                  </div>
                  <div class="d-flex align-items-center mb-1">
                    <span class="fs-lh-8 me-2">和上週相比</span>
                    <span class="text-primary-300 fs-lh-8 fw-bold">1 天 </span>
                    <div class="d-flex">
                      <svg
                        class="icon-20 text-primary-300"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M13.0001 19C13.0001 19.5523 12.5524 20 12.0001 20C11.4478 20 11.0001 19.5523 11.0001 19L11.0001 5C11.0001 4.44772 11.4478 4 12.0001 4C12.5524 4 13.0001 4.44772 13.0001 5L13.0001 19Z"
                          fill="currentColor"
                        />
                        <path
                          d="M19.7071 11.293C20.0976 11.6835 20.0976 12.3165 19.7071 12.707C19.3166 13.0976 18.6836 13.0976 18.293 12.707L11.293 5.70703C10.9025 5.31651 10.9025 4.68349 11.293 4.29297C11.6836 3.90244 12.3166 3.90244 12.7071 4.29297L19.7071 11.293Z"
                          fill="currentColor"
                        />
                        <path
                          d="M12.7071 5.70703C13.0976 5.31651 13.0976 4.68349 12.7071 4.29297C12.3166 3.90244 11.6836 3.90244 11.293 4.29297L4.29304 11.293C3.90252 11.6835 3.90252 12.3165 4.29304 12.707C4.68357 13.0976 5.31658 13.0976 5.70711 12.707L12.7071 5.70703Z"
                          fill="currentColor"
                        />
                      </svg>
                    </div>
                  </div>
                  <div class="d-flex align-items-center mb-3">
                    <span class="fs-lh-8 me-2">最常在</span>
                    <span class="fs-lh-8 fw-bold">12:00 AM - 01:00 AM</span>
                    <span class="fs-lh-8 ms-2">啟程</span>
                  </div>
                  <!-- chart_2 -->
                  <div class="mb-6 chart-height-2">
                    <canvas id="chart_2"></canvas>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script type="module" src="../main.js"></script>
    <script type="module" src="../scripts/record-chart.js"></script>
  </body>
</html>
